body{
    text-align: center;
    margin: 0;
}

.question-cliked{
    background-color:rgb(100, 93, 62);
    border-radius: 30px;
    border: 6px dashed pink;
}

p{
    visibility: hidden;
}
.show-response{
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
}

.mousemove{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: 2px solid pink;
    position:absolute;
}